<div class="child">


  {% if child.page %}
  <strong class="path"><a href="{% url 'page-result-detail' object.pk child.page.pk %}" title="{{child.page.title}}">/{{child.path}}/</a></strong>
  {% include 'config/partials/page_preview.html' with page_result=child.page %}
  {% else %}
  <strong class="path text-warning">/{{child.path}}/ [missing]</strong>
  {% endif %}

  <ul class="list-unstyled children">
  {% for key, sub_child in child.children.items %}
    <li class="clearfix">{% include 'config/partials/page_tree.html' with child=sub_child %}</li>
  {% endfor %}
  </ul>
</div>
