<article class="card bg-secondary p-1">
  <div class="card-body p-1">
    <div class="d-flex bd-highlight">
      <div class="p-2 flex-fill">
        <a
          class="card-title"
          href="{% url 'page-result-detail' object.pk page_result.pk %}"
        >
          <h1 class="page-title h5 text-light mb-1">
            {{page_result.title}}
            <span
              class="status-code status-code-{{page_result.last_status_code}}"
              title="{{page_result.last_status_code}}"
            ></span>
          </h1>
          <small class="url h6 text-white-50 m-0">{{page_result.url}}</small>
        </a>
      </div>
      <div class="p-2 flex-fill text-right">

        {% if page_result.error_synopsis %}
        {{page_result.error_synopsis|safe}}
        {% endif %}

        {% if page_result.warning_synoposis %}
        {{page_result.warning_synoposis|safe}}
        {% endif %}

        <a
          href="{{page_result.url}}"
          target="_blank"
          title="Visit in new tab"
          class="float-right badge badge-secondary p-1 ml-2 mt-1"
          >Visit &nearr;</a>
      </div>
    </div>
  </div>
</article>
