<article class="card bg-secondary p-1">
  <div class="card-body p-1">
    <div class="d-flex bd-highlight">
      <div class="p-2 flex-fill">
        <a
          class="card-title"
          href="{% url 'page-result-detail' object.pk page_result.pk %}"
        >
          <h1 class="page-title h5 text-light m-0">
            {{page_result.title}}
            <span
              class="status-code status-code-{{page_result.latest_status_code}}"
              title="{{page_result.latest_status_code}}"
            ></span>
          </h1>
          <h2 class="url h6 text-white-50 m-0">{{page_result.url}}</h2>
        </a>
      </div>
      <div class="p-2 flex-fill text-right">
        {% with errors=page_result.error_test_results %}
        {% if errors|length > 0 %}
        <a href="{% url 'page-result-detail' object.pk page_result.pk %}" >
          <span
            class="badge badge-danger p-1 ml-2"
            title="{% for error in errors %}{{error.message}}{% if not forloop.last %}, {%endif %}{% endfor %}"
            >
             {{errors|length}} error{% if errors|length > 1 %}s{% endif %}
          </span>
        </a>
        {% endif %}
        {% endwith %}

        {% with warnings=page_result.warning_test_results %}
        {% if warnings|length > 0 %}
        <a href="{% url 'page-result-detail' object.pk page_result.pk %}" >
          <span
            class="badge badge-warning p-1 ml-2"
            title="{% for warning in warnings %}{{warning.message}}{% if not forloop.last %}, {%endif %}{% endfor %}"
            >
             {{warnings|length}} warning{% if warnings|length > 1 %}s{% endif %}
          </span>
        </a>
        {% endif %}
        {% endwith %}

        <a
          href="{{object.url}}"
          target="_blank"
          class="float-right badge badge-info p-1 ml-2 mt-1"
          >Visit</a
        >
      </div>
    </div>
  </div>
</article>
