  {
    "url": {% if child.page_url %}"{{child.page_url}}"{% else %}null{% endif %},
    "title": {% if child.page %}"{{child.page.title|escapejs}}"{% else %}null{% endif %},
    "path": "{{child.path}}",
    "full_path": "{{child.full_path}}",
    "full_url": "{{child.full_url}}",
    "info_url":{% if child.page %}"{% url 'page-result-detail' object.pk child.page.pk %}"{% else %}null{% endif %},

    {% with errors=child.page.error_test_results %}
    {% if errors|length > 0 %}
    "errors":[{% for error in errors %}"{{error.message}}"{% if not forloop.last %}, {%endif %}{% endfor %}],
    {% else %}
    "errors":[],
    {% endif %}
    {% endwith %}


    "children": [
    {% for key, sub_child in child.children.items %}
    {% include 'config/partials/page_tree_json.html' with child=sub_child %}{% if not forloop.last %},{% endif %}
    {% endfor %}
    ],
    "incoming": [
    {% for link in child.page.incoming_links.all %}
    "{{link.url}}"{% if not forloop.last %},{% endif %}
    {% endfor %}
    ],
    "outgoing": [
    {% for link in child.page.outgoing_links.all %}
    "{{link.url}}"{% if not forloop.last %},{% endif %}
    {% endfor %}
    ]
  }
