.interactive-sitemap {
  position: relative;
  width: 100vw;
  height: 80vh;
  overflow-y: hidden;
  overflow-x: scroll;

  @media (min-width: 73em) {
    margin-left: calc(-1em - ((100vw - 75em) * 0.5));
  }

  &:after {
    box-shadow: inset 0px 0px 20px 40px $gray-800;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .node {
    position: absolute;

    .ring {
      cursor: pointer;
      position: absolute;
      left: -0.5em;
      top: -0.5em;
      z-index: 900;

      &:before {
        content: "";
        display: inline-block;
        width: 1em;
        height: 1em;
        border-radius: 0.5em;
      }
    }

    &.site {
      .ring {
        left: -1em;
        top: -1em;

        &:before {
          width: 2em;
          height: 2em;
          border-radius: 1em;
          background-color: $blue;
        }
      }
      .flag-rotated h1 {
        margin: 0 3em;
      }
    }

    &.page .ring:before {
      background-color: $gray-200;
    }
    &.path .ring:before {
      border: 0.125em solid $gray-200;
      background-color: transparent;
    }

    &.errors {
      .ring:before {
        background-color: $red !important;
        border-color: $red !important;
      }
    }

    .flag-rotated {
      display: none;
      position: absolute;
      transform: rotate(-45deg);
      transform-origin: 0 0;
      cursor: pointer;
      z-index: 900;

      h1 {
        font-size: 0.75rem;
        margin: 0 1em;
        white-space: nowrap;
      }
    }

    .flag {
      display: none;

      padding: 0.5em 1em;
      position: absolute;
      z-index: 800;

      font-size: 0.75rem;
      line-height: normal;

      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);

      a {
        color: #fff;
      }

      h1 {
        font-size: 0.75rem;
        margin: 0 0 0.25em 0;
        white-space: nowrap;
      }
      h2 {
        font-size: 0.5rem;
        margin: 0 0 0.25em 0;
      }
      p {
        opacity: 0.6;
        font-size: 0.5rem;
        margin: 0;
        word-break: break-word;
      }

      /* flag pole */
      &:before {
        content: "";
        position: absolute;
        background-color: $blue;
        height: calc(100% + 2em);
        width: 1px;
      }

      /* hitstate */
      &:after {
        content: "";
        position: absolute;
        background-color: #ff00ff;
        height: calc(100% + 2rem);
        width: 100%;
        z-index: -1;
        display: none;
        top: 0;
        left: 0;
        opacity: 0;
        display: none !important; /* turn off for now */
      }

      &.flag-up-right {
        transform: translate(0px, -1em);
        transform-origin: left bottom;
        border-radius: 0 0.5em 0.5em 0;
        left: 50%;
        bottom: 0.5em;
        &:before {
          left: 0;
          top: 0;
        }
      }
      &.flag-up-left {
        transform: translate(0px, -1em);
        transform-origin: left bottom;
        border-radius: 0.5em 0 0 0.5em 0.5em;
        right: 50%;
        bottom: 1rem;
        &:before {
          right: 0;
          top: 0;
        }
        &:after {
          width: 200%;
        }
      }
      &.flag-down-right {
        transform: translate(0px, 1em);
        transform-origin: left bottom;
        border-radius: 0 0.5em 0.5em 0;
        left: 50%;
        top: 1rem;
        &:before {
          left: 0;
          bottom: 0;
        }
        &:after {
          top: -2rem;
        }
      }
      &.flag-down-left {
        transform: translate(0px, 1em);
        transform-origin: left bottom;
        border-radius: 0.5em 0 0 0.5em 0.5em;
        right: 50%;
        top: 1rem;
        &:before {
          right: 0;
          bottom: 0;
        }
        &:after {
          width: 200%;
          top: -2rem;
        }
      }
    }

    &.layer-0 {
      .ring:before {
        background-color: $blue !important;
        border-color: $blue !important;
      }
      &.errors {
        .ring:before {
          background-color: $red !important;
          border-color: $red !important;
        }
      }
      .flag {
        z-index: 1000;
        display: block;
        border-radius: 0.5em;
        background-color: #2b2e31f2 !important;
        transform: translate(-50%, -50%);
        &:before {
          display: none;
        }
      }
    }
    &.layer-1 {
      .flag-rotated {
        display: block;
        h2,
        p {
          display: none;
        }
      }
    }

    &:hover,
    &.state-active,
    &.state-ancestor {

      z-index: 1000;

      &.path {
        .ring:before {
          border-color: $blue !important;
        }
      }
      &.page {
        .ring:before {
          background-color: $blue !important;
        }
      }



      .flag-rotated {
        color: $blue !important;
      }
      .flag {
        background-color: $blue !important;
        display: block;
        &:after {
          display: block;
        }
      }

      &.errors {
        .ring:before {
          background-color: $red !important;
          border-color: $red !important;
        }
        .flag-rotated {
          color: $red !important;
        }
        .flag,
        .flag:before {
          background-color: $red !important;
        }
      }
    }

    &:hover{
      z-index: 1001;
    }
  }


  .node {
    visibility: hidden;

    &.state-descendent {
      visibility: visible;
      .flag-rotated,
      .ring {
        opacity: 1;
      }
    }
    &.state-adjacentdescendent {
      visibility: visible;
      .flag-rotated,
      .ring {
        opacity: 0.25;
      }
    }
    &.state-ancestor {
      visibility: visible;
      .flag-rotated,
      .ring {
        opacity: 1;
      }
    }
    &.state-active {
      visibility: visible;
      .flag-rotated,
      .ring {
        opacity: 1;
      }
    }
    .flag-rotated {
      display: block;
      transform: translateY(-0.35em);
      .truncate {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
      }
      .count {
        overflow: hidden;
        display: inline-block;
      }
    }
    &:hover {
      .flag-rotated,
      .ring {
        opacity: 1 !important;
      }
    }

    .iolinks{
      position:absolute;
    }
  }


}
