dl{
  display: block;
  padding: 1em;
  line-height: 1em;

  dt{
    float: left;
    clear: left;
    width: 25%;
    
    text-align: right;
    font-weight: bold;
    padding-right: 0.5em;
    margin-bottom: 1em;
  }
  dd{
    width: 75%;
    float:right;
    padding-left:0.5em;
    margin-bottom: 1em;
    border-bottom: 1px solid transparent;
  }
}
a.card-title{
  text-decoration: none;
}

.status-code{
    
  &:before{
    content: '';
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
    background-color: $yellow;
  }

  &.status-code-0:before{
    background-color: $gray-300;
  }
  &.status-code-200:before{
    background-color: $green;
  }
  &.status-code-404:before,
  &.status-code-500:before{
    background-color: $red;
  }
  
}
.site-detail{

}
.site-list{



}
