.breadcrumb{
  background: $gray-900;
}
.breadcrumb-item + .breadcrumb-item::before{
  content:"|";
}
article{
  img{
    max-width: 100%;
  }
}

dl{
  display: block;
  padding: 1em;
  line-height: 1em;

  dt{
    float: left;
    clear: left;
    width: 25%;

    text-align: right;
    font-weight: bold;
    padding-right: 0.5em;
    margin-bottom: 1em;
  }
  dd{
    width: 75%;
    float:right;
    padding-left:0.5em;
    margin-bottom: 1em;
    border-bottom: 1px solid transparent;
  }
  & > *:nth-child(2n+1) {
    clear: both;
  }
}
a.card-title{
  text-decoration: none;
}

.status-code{

  &:before{
    content: '';
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
    background-color: $yellow;
  }

  &.status-code-None:before,
  &.status-code-0:before{
    background-color: $gray-300;
  }
  &.status-code-200:before{
    background-color: $green;
  }
  &.status-code-404:before,
  &.status-code-500:before{
    background-color: $red;
  }

}
.site-detail{

}
.site-list{



}
#links{

  .path{
    display:none;
  }
  .card{
    background-color: #6c757d4f !important;
  }
  &.sitemap{
    &.zoomed-out{
      & > ul{
        transform: scale(0.15);
      }
    }
    .path{
      display:block;
    }
    overflow: scroll;
    & > ul{

      transform-origin: top left;

      display:flex;
      /*border-top:1px solid $secondary;*/

      & > li{
        flex: 0 0 auto;
      }
    }

    & > ul > li > .child{

      & > .path{
        background-color: #6c757d4f;
        padding: 0.5em 1em;
        width: 264px;
      }
      &:before{
        content:"" !important;
      }
    }
    .child{

    }
    .url, .page-title{
      display:none;
    }
    .path{
      width: 200px;
      overflow: hidden;

      .truncate{
        display:block;
        font-size:0.8rem;
        width: 180px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .badge{
        position: absolute;
        right: 0.5em;
        /*top: 0;*/
      }
    }
    .children{
      /*border-left:1px solid $secondary;*/
      left:1em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;

      li{
        position:relative;
      }
      li:first-child{
        .child{
          padding-top:0;
        }
      }
      li:last-child{
        .child{
          padding-bottom:0;
        }
      }

      .child{
        padding: 0.5em 0 0.5em 2em;
        display: block;
        border-bottom: 1px solid $secondary;
        &:last-child{
          border-bottom: 0px !important;
        }
        &:before{
          content:"↵";
          position: absolute;;
          left:0;
          transform: scale(-1, 1);
          color:$secondary;
        }

        article{
          display: inline-block;
          float: right;
          padding:0 !important;
          background-color:transparent !important;
          border-color: transparent;
          .card-body{
            padding:0 !important;
            .flex-fill{
              display:none;
              padding:0 !important;
              .badge{
                margin-top:0 !important;
              }
            }
          }
        }
      }
    }
  }
}
